---
layout: default
---

  {% for post in site.categories.highlight limit:1%}
    {% assign content = post.content %}
    <article class"post--highlighted">
      <span class="tiny-link post--highlighted__highlight">Highlighted</span>
      <header class="post--highlighted__header">
        <h1 class="post__title">
          <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a>
        </h1>
      </header>
      
      <div class="post--highlighted__content">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}

  {% for post in site.posts %}
    <article class="post">
      <header class="post__header">
        <h1 class="post__title">
          <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a>
        </h1>

        <div class="post__meta">
          <span class="post__date">
            <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
              <time>{{ post.date | date: "%b %-d, %Y" }}</time>
            </a>
          </span>
        </div><!-- .post__meta -->
      </header><!-- .entry-header -->

      <div class="post__content">
        {{ post.excerpt }}
      </div><!-- .entry-content -->

      <footer class="entry-footer">
      </footer><!-- .entry-footer -->

      <hr class="post__separator">
    </article><!-- #post-## -->
  {% endfor %}
