---
layout: default
---

<article class="post single-post">
  <header class="post__header">
    {% if page.link %}
    <h2><a href="{{ page.link }}">{{ page.title }} →</a></h2>
    {% else %}
    <h2>{{ page.title }}</h2>
    {% endif %}

    <div class="post__meta">
      <span class="post__date">
        <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
          <time>{{ page.date | date: "%b %-d, %Y" }}</time>
        </a>
      </span>
    </div><!-- .post__meta -->
  </header><!-- .post__header -->

  <div class="post__content">
    {{ content }}
    {% if page.link %}
    <p>
      <a href="{{ page.link }}">Link to the original article</a>
    </p>
    {% endif %}
  </div><!-- .post__content -->

  <footer class="post__footer">
  </footer><!-- .post__footer -->
</article><!-- #post-## -->
